<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081416338417-433l3dbrgscbej7ikvh38q27nq9r1cpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081416338417-433l3dbrgscbej7ikvh38q27nq9r1cpn</string>
	<key>API_KEY</key>
	<string>AIzaSyDmB_lFsML6a_k1e9X-NUyBB9uN565qZlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1081416338417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangwookahn.UnicornMemo</string>
	<key>PROJECT_ID</key>
	<string>unicorn-memo</string>
	<key>STORAGE_BUCKET</key>
	<string>unicorn-memo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081416338417:ios:f4f6de59e680fc8e141250</string>
	<key>DATABASE_URL</key>
	<string>https://unicorn-memo.firebaseio.com</string>
</dict>
</plist>